<div id="back">
  <br />
  <div class="container">
    <div
      class="card text-center mx-auto"
      style="color: white; font-size: 8pt; max-width: 350px"
      id="formCard"
    >
      <br />
      <form #form [formGroup]="picForm" (submit)="onSubmit()">
        <div class="form-group">
          <label>File*</label>
          <input
            [class]='(picForm.controls["image"].invalid && submitFlag) ? "error":""'
            #myFile
            type="file"
            accept="image/*"
            (change)="fileChangeEvent($event)"
          />
          <input type="hidden" formControlName = "image">
        </div>
        <div class="form-group">
          <label>Id*</label>
          <input
            [class]='(picForm.controls["id"].invalid && submitFlag) ? "error":""'
            type="text" formControlName="id" />
        </div>
        <div class="form-group">
          <label>Title*</label>
          <input
            [class]='(picForm.controls["title"].invalid && submitFlag) ? "error":""'
            type="text" formControlName="title" />
        </div>
        <div class="form-group">
          <label>Number of Qualifications:</label>
          <input
            [class]='(picForm.controls["numberQualifications"].invalid && submitFlag) ? "error":""'
            type="number" formControlName="numberQualifications" />
        </div>
        <div class="form-group">
          <label>Accumulated Qualifications:</label>
          <input
            [class]='(picForm.controls["totalQualifications"].invalid && submitFlag) ? "error":""'
            type="number" formControlName="totalQualifications"/>
        </div>
        <div class="form-group">
          <label> All spaces with * are required </label>
          <input
            [autofocus]="false"
            type="submit"
            class="form-control btn btn-success"
            value="Crear"
          />
        </div>
      </form>
    </div>
  </div>

  <div style="margin-left: 200px">
    <div
      class="container card col-md-3 text-center"
      id="picCard"
      *ngFor="let pic of pictures"
    >
      <img id="myPics" src="{{ pic.image }}" />
      <label><strong>Title</strong>:{{ pic.title }}</label>
      <label
        ><strong>Number of qualifications</strong>: {{
          pic.numberQualifications
        }}</label
      >
      <label
        ><strong>Total qualifications</strong>: {{
          pic.totalQualifications
        }}</label
      >
      <label
        ><strong>Prom</strong>: {{
          round(((pic.totalQualifications * 1) / pic.numberQualifications) * 1)
        }}
      </label>
      <button class="btn btn-danger" (click)="deletePicture(pic.id)">
        <em class="far fa-trash-alt"></em>
      </button>
    </div>
  </div>
</div>
