<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Drawing Gallery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Pictures</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Social Media</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
