<div id="back">
  <br />
  <br />
  <div class="container">
    <div class="card col-md-5 container text-center mx-auto" id="formCard">
      <div class="card-body">
        <ul class="list-group list-group-horizontal" style="margin-left: 25px;">
          <li class="list-group-item">
            <a type="button" href="https://www.instagram.com/bashr_21/" class="btn btn-primary">
              <em class="fab fa-instagram"></em>
            </a>
          </li>
          <li class="list-group-item">
            <a type="button" href="https://www.facebook.com/BSHR217" class="btn btn-primary">
              <em class="fab fa-facebook"></em>
            </a>
          </li>
          <li class="list-group-item">
            <a type="button" href="https://www.linkedin.com/in/bshernandezr/" class="btn btn-primary">
              <em class="fab fa-linkedin"></em>
            </a>
          </li>
          <li class="list-group-item">
            <a type="button" href="https://www.youtube.com/channel/UCNGnxxCyBGhClqheTZJbC-g?view_as=subscriber" class="btn btn-primary">
              <em class="fab fa-youtube"></em>
            </a>
          </li>
        </ul>
      </div>
    <a> Realizado por: Brayan Hernandez</a> <br>
    <a> bshernandezr@unal.edu.co</a> <br>
    <a> Cel: 3203267711 </a> <br>
    </div>
  </div>
</div>
