body {
  background-image: url('./assets/back.jpg');
  min-height: 600px;
  max-height: none;
}
#myPics {
  max-width: 100%;
  max-height: 150px;
  margin: 20px 20px 10px 20px;
  border-radius: 5px;
}

#formCard {
  background: rgba(26, 46, 110, 0.555);
  border: 2px solid black;
  margin: 10px;
  min-height: 300px;
  color: white;
}
#picCard {
  background: rgba(26, 46, 110, 0.555);
  border: 2px solid black;
  margin: 10px;
  height: 350px;
  float: left;
  color: white;
  font-size: 8pt;
}
.myCardPic {
  max-width: 300px;
}
.error {
  border: 1px solid red;
}
.standardMessage {
  font-size: 0.9em;
  float: right;
}
.focusMessage {
  color: red;
}
